@model AddOrUpdateProductViewModel


<div class="row">
    <div class="col-lg-3">
        <form asp-action="Add" method="post">
            @Html.Partial("_AddOrUpdateProduct", Model)
            <button type="submit" class="btn btn-primary">Add product</button>
        </form>
    </div>
</div>

